*{
margin: 0;
padding: 0;
box-sizing:border-box;
}
:root{
--clr-white: hsl(0, 0%, 100%);
--clr-blue: hsla(241, 26%, 48%, 0.568);
--clr-bg:hsl(244, 15%, 81%);
--clr-black: hsl(0, 0%, 10%);
--clr-coral: hsl(16, 100%, 66%);
}
body{
background-color: var(--clr-bg);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
background-color: var(--clr-blue);
box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
position: fixed;
width: 100%;
z-index: 3;

}
header ul{
color: var(--clr-black);
overflow: hidden;
list-style: none;
}
header a ul{
display: block;
text-decoration: none;
padding: 20px;
outline: 1px solid coral;
border: 1px solid hsl(16, 100%, 66%);
}