*{
margin: 0;
padding: 0;
box-sizing:border-box;
}
:root{
--clr-white: hsl(0, 0%, 100%);
--clr-blue: hsla(241, 26%, 48%, 0.568);
--clr-bg:hsl(244, 15%, 81%);
--clr-black: hsl(0, 0%, 10%);
--clr-coral: hsl(16, 100%, 66%);
--clr-salmon: hsl(6, 93%, 71%);
}
body{
height: 100vh;
background-color: var(--clr-bg);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*=============Hero===========*/
/*img{
width: 100%;
}*/

.hero{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: rgb(25, 12, 41);
}
.slider{
position: relative;
width: 60%;
overflow: hidden;
}
.imgs{
display: flex;
width: 100%;
}
.imgs img{
height: 400px;
width: 100%;
transition: all 0.15s ease;
}
.imgs input{
display: none;
}
.dots{
display: flex;
justify-content: center;
margin: 15px;
}
.dots label{
height: 20px;
width: 20px;
border-radius: 50%;
border: 1px solid #fff;
transition: all 0.15 ease;
cursor: pointer;
margin: 5px;
}
.dots label:hover{
background: #fff;
}
#bg-1:checked ~ .bg1{
margin-left: 0;
}
#bg-2:checked~.bg2 {
    margin-left: -100%;
}
#bg-3:checked~.bg3 {
    margin-left: -200%;
}
#bg-4:checked~.bg4 {
    margin-left: -300%;
}
#bg-5:checked~.bg5 {
    margin-left: -400%;
}




/*=============Header===========*/
header{
background-color: var(--clr-blue);
box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
position: fixed;
width: 100%;
z-index: 3;
}
header ul{
color: var(--clr-black);
overflow: hidden;
list-style: none;
}
header ul a{
display: block;
padding: 20px;
text-decoration: none;
}
header ul a:hover{
background-color: var(--clr-coral);
}
header .logo{
display: block;
float: left;
padding: 20px 10px;
font-size: 1.25rem;
}
header .nav{
clear: both;
max-height: 0;
transition: max-height .2s ease-in-out;
}
header .label-menu{
padding: 28px 20px;
position: relative;
float: right;
cursor: pointer;
}
header .label-menu .label-icon{
background-color: #000;
display: block;
width: 18px;
height: 2px;
position: relative;
transition: background .2s ease-in-out;
}
header .label-menu .label-icon::before{
content: "";
background-color: #000;
display: block;
width: 100%;
height: 100%;
position: absolute;
transition: all .2s ease-in-out;
top: 5px;
}
header .label-menu .label-icon::after {
content: "";
background-color: #000;
display: block;
width: 100%;
height: 100%;
position: absolute;
transition: all .2s ease-in-out;
top: -5px;
}
header .toggle-menu{
display: none;
}
header .toggle-menu:checked ~ .nav{
max-height: 250px;
}
header .toggle-menu:checked~.label-menu .label-icon {
background-color: transparent;
}
header .toggle-menu:checked~.label-menu .label-icon::before {
transform: rotate(-45deg);
top: 0;
}

header .toggle-menu:checked~.label-menu .label-icon::after {
transform: rotate(45deg);
top: 0;
}
/*=========Media Query=========*/
@media (min-width:48rem) {
header li{
float: left;
}
header li a{
padding: 20px 30px;
}
header .nav{
clear: none;
float: right;
max-height: none;
}
header .label-menu{
display: none;
}
}